<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
    <bean id="liquibase"
        class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog"
            value="classpath:databaseChangeLog.xml" />
        <property name="contexts" value="test, production" />
    </bean>
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/jsp/" />
      <property name="suffix" value=".jsp" />
    </bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    
    
    <bean id="groupService" class="file.service.GroupServiceImpl">
    	<property name="groupDao" ref="groupDao"/>
    </bean>
    <bean id="roleService" class="file.service.RoleServiceImpl">
    	<property name="roleDao" ref="roleDao"/>
    </bean>
    <bean id="userService" class="file.service.UserServiceImpl">
    	<property name="userDao" ref="userDao"/>
    </bean>
    <bean id="wareService" class="file.service.WareSeviceImpl">
    	<property name="wareDao" ref="userDao"/>
    </bean>
    
    
    <bean id="roleRowMapper" class="file.dao.jdbc.RoleRowMapper"/>
    <bean id="groupRowMapper" class="file.dao.jdbc.GroupRowMapper"/>
    <bean id="userRowMapper" class="file.dao.jdbc.UserRowMapper"/>
    <bean id="wareRowMapper" class="file.dao.jdbc.WareRowMapper"/>
    
    
    <bean id="dao" abstract="true" class="org.springframework.jdbc.core.support.JdbcDaoSupport">
    	<property name="dataSource" ref ="dataSource"/>    
    </bean>
    
    <bean id="groupDao" class="file.dao.jdbc.GroupJdbcDao" parent="dao">
    <property name="grouprowMapper" ref="groupRowMapper"/>
    </bean>
    
    <bean id="roleDao" class="file.dao.jdbc.RoleJdbcDao" parent="dao">
    <property name="rolerowMapper" ref="roleRowMapper"/>
    </bean>
    
    <bean id="userDao" class="file.dao.jdbc.UserJdbcDao" parent="dao">
    <property name="userRowMapper" ref="userRowMapper"/>
    </bean>
    
    <bean id="wareDao" class="file.dao.jdbc.WareJdbcDao" parent="dao">
    <property name="wareRowMapper" ref="wareRowMapper"/> 
    </bean>
    
</beans>