<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd
    http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd">
   
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations"
			value="classpath:config.properties" />
	</bean>

	<bean id="liquibase"
		class="liquibase.integration.spring.SpringLiquibase">
		<property name="dataSource" ref="dataSource" />
		<property name="changeLog"
			value="classpath:databaseChangeLog.xml" />
		<property name="contexts" value="${liquibase.contexts}" />
	</bean>

	<!-- bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="prefix" value="/WEB-INF/jsp/" /> <property name="suffix" 
		value=".jsp" /> </bean -->

	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.class}" />
		<property name="url" value="${jdbc.url}" />
		<property name="maxTotal" value="100" />
		<property name="maxIdle" value="20" />
		<property name="poolPreparedStatements" value="true" />
	</bean>

	<context:component-scan
		base-package="file.dao.jdbc, file.service.impl, file.mvc " />

	<!-- bean id="springSecurityFilterChain" class="org.springframework.web.filter.DelegatingFilterProxy"/ -->

	<bean id="roleRowMapper" class="file.dao.jdbc.RoleRowMapper" />
	<bean id="groupRowMapper" class="file.dao.jdbc.GroupRowMapper" />
	<bean id="userRowMapper" class="file.dao.jdbc.UserRowMapper" />
	<bean id="wareRowMapper" class="file.dao.jdbc.WareRowMapper" />
	<bean id="cartRowMapper" class="file.dao.jdbc.CartRowMapper" />
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	   <property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="dao" abstract="true"
		class="org.springframework.jdbc.core.support.JdbcDaoSupport">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="groupDao" class="file.dao.jdbc.GroupJdbcDao"
		parent="dao">
		<property name="groupRowMapper" ref="groupRowMapper" />
	</bean>
	
	<bean id="roleDao" class="file.dao.jdbc.RoleJdbcDao" parent="dao">
		<property name="roleRowMapper" ref="roleRowMapper" />
	</bean>
	
	<bean id="userDao" class="file.dao.jdbc.UserJdbcDao" parent="dao">
		<property name="userRowMapper" ref="userRowMapper" />
	</bean>
	
	<bean id="wareDao" class="file.dao.jdbc.WareJdbcDao" parent="dao">
		<property name="wareRowMapper" ref="wareRowMapper" />
	</bean>
	
	<bean id="cartDao" class="file.dao.jdbc.CartJdbcDao" parent="dao">
		<property name="cartRowMapper" ref="cartRowMapper" />
	</bean>
	
	<bean id="groupService" class="file.service.impl.GroupServiceImpl">
		<property name="groupDao" ref="groupDao" />
	</bean>
	
	<bean id="roleService" class="file.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>
	
	<bean id="userService" class="file.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="roleDao" ref="roleDao" />
	</bean>
	
	<bean id="wareService" class="file.service.impl.WareServiceImpl">
		<property name="wareDao" ref="wareDao" />
	</bean>
	
</beans>