tr{
    cursor: pointer;
}
tr:hover{
    color: blue !important;
}
.Logout{
    margin-inline-start:1vw;
}
.Logout input{
    font-family: 'Rubik', sans-serif !important;
    font-size: 16px !important;
    background-color:#fafafa !important;
    color:#2F4F4F !important;
    border: 0px solid white !important;
    border-radius: 0px !important;
}
.ware_table table {
    margin-left: 0vw !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
}
.ware_table th {
    border-top-color:  white !important;
    border-top: 4px !important;
    border-left-color: white !important;
    border-right-color: #4682B4  !important;
    background: #4682B4 !important;
    color: white;
    padding: 10px 20px;
}
.ware_table  th, td {
    border-style: solid;
    border-width:  1px 1px 1px ;
    border-color: black;
}
.ware_table  th:first-child, td:first-child {
    text-align: left;
}
.ware_table  th:first-child {
    border-top-left-radius: 10px;
    border-top: white;
    border-left: white;
}
.ware_table th:last-child{
    border-top-right-radius: 10px;
    border-top: white;
    border-right: white;
}
.ware_table td:last-child{
    border-radius: 20px;
    border-top: white;
    border-right: white;
    border-bottom: white;
    background: lightblue;
}
.ware_table td {
    padding: 10px 20px;
    background: white;
}
.checkout{
    text-align: center;
    width: 6vw;
    padding: 1vh;
    background: lightblue;
}
