.login-table {
    margin-left: 30% !important;
    margin-right: 40% !important;
}
.Username-Validation{
    color: DarkRed !important;
}
.Username{
    color:#4682B4!important;
}
.Username input[type=text]{
    font-size: 1vw !important;
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    box-sizing: border-box !important;
    border: 2px solid white !important;
    border-radius: 6px !important;
    background-color:#AFEEEE !important;
    color:  #4682B4 !important;
}
.Username input[type=text]:focus{
     background-color: blue !important;
    color: white !important;
}
.Password-Validation{
    color: DarkRed !important;
}
.Password{
    color:#4682B4 !important;
}
.Password input[type=password]{
    font-size: 1vw !important;
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    box-sizing: border-box !important;
    border: 2px solid white !important;
    border-radius: 6px !important;
    background-color:  #AFEEEE !important;
    color: #4682B4 !important;
}

.Password input[type=password]:focus{
    background-color: blue !important;
    color: white !important;
}
.Mail-Validation{
    color: DarkRed !important;
}
.Mail{
    color: #4682B4 !important;
}
.Mail input[type=text]{
    font-size: 1vw !important;
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    box-sizing: border-box !important;
    border: 2px solid white !important;
    border-radius: 6px !important;
    background-color:  #AFEEEE !important;
    color: #4682B4 !important;
}
.Mail input[type=text]:focus{
    background-color: blue !important;
    color: white !important;
}
.Register button{
    width: 5vw !important;
    height: 4vh !important;
    background-color: #AFEEEE !important;
    color:#4682B4 !important;
    border: 2px solid white !important;
    border-radius: 6px !important;
}
.Register button:focus{
    background-color: white !important;
}
