tr[id]{
    cursor: pointer;
}
tr:hover{
    color: blue !important;
}
.Logout{
    margin-inline-start:1vw;
}
.Logout input{
    font-family: 'Rubik', sans-serif !important;
    font-size: 16px !important;
    background-color:#fafafa !important;
    color:#2F4F4F !important;
    border: 0px solid white !important;
    border-radius: 0px !important;
}
.free-space{
    padding-top: 35vh;
}
.user_table table {
    margin-left: 30vw !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
}
.user_table th {
    border-top-color:  white !important;
    border-top: 4px !important;
    border-left-color: white !important;
    border-right-color: #4682B4  !important;
    background: #4682B4 !important;
    color: white;
    padding: 10px 20px;
}
.user_table  th, td {
    border-style: solid;
    border-width:  1px 1px 1px ;
    border-color: black;
}
.user_table  th:first-child, td:first-child {
    text-align: left;
}
.user_table  th:first-child {
    border-top-left-radius: 10px;
    border-top: white;
    border-left: white;
}
.user_table th:last-child{
    border-top-right-radius: 10px;
    border-top: white;
    border-right: white;
}
.user_table td {
    padding: 10px 20px;
    background: white;
}
.user_table td:last-child {
    border-bottom: 0px !important;
    border-bottom-color: white;
    border-radius: 20px;
    background: #ADD8E6;
    border-top: white;
    border-right: white;
    border-left-color: white;
}
.user_table td:nth-last-child(2) {
    border-bottom: 0px !important;
    border-bottom-color: white;
    border-radius: 20px;
    background: #ADD8E6;
    border-top: white;
    border-right: white;
}
.copyright
{
    width: 100%;
    background: #fafafa;
    bottom: 0;
}
.top_bar_user div:nth-child(3)
{
    margin-right: 21px;
}
